<div class="pure-menu social">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><p class="pure-menu-title">Контакты</p></li>
  
    {{ if .RSSLink }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ .RSSLink }}"><i class="fa fa-rss fa-fw"></i>RSS</a>
    </li>
    {{ end }}

    <!-- SNS microblogging -->

    {{ with .Site.Social.twitter }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://twitter.com/{{ . }}" target="_blank"><i class="fab fa-twitter-square fa-fw"></i>Twitter</a>
    </li>
    {{ end }}

    {{ with .Site.Social.facebook }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://facebook.com/{{ . }}" target="_blank"><i class="fab fa-facebook-square fa-fw"></i>Facebook</a>
    </li>
    {{ end }}

    {{ with .Site.Social.vk }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://vk.com/{{ . }}" target="_blank"><i class="fab fa-vk fa-fw"></i>ВКонтакте</a>
    </li>
    {{ end }}

    <!-- SNS photo/video sharing -->

    {{ with .Site.Social.instagram }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://instagram.com/{{ . }}" target="_blank"><i class="fab fa-instagram fa-fw"></i>Instagram</a>
    </li>
    {{ end }}

    <!-- SNS career oriented -->

    {{ with .Site.Social.linkedin }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" target="_blank"><i class="fab fa-linkedin fa-fw"></i>LinkedIn</a>
    </li>
    {{ end }}

    <!-- Techie -->

    {{ with .Site.Social.github }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/{{ . }}" target="_blank"><i class="fab fa-github-square fa-fw"></i>GitHub</a>
    </li>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://gitlab.com/{{ . }}" target="_blank"><i class="fab fa-gitlab fa-fw"></i>GitLab</a>
    </li>
    {{ end }}

    {{ with .Site.Social.bitbucket }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://bitbucket.org/{{ . }}" target="_blank"><i class="fab fa-bitbucket fa-fw"></i>Bitbucket</a>
    </li>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://stackoverflow.com/users/{{ . }}" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i>Stack Overflow</a>
    </li>
    {{ end }}

    {{ with .Site.Social.serverfault }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://serverfault.com/users/{{ . }}" target="_blank"><i class="fab fa-server fa-fw"></i>Server Fault</a>
    </li>
    {{ end }}

  </ul>
</div>
