<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div id="menu">

  {{ with .Site.Title }}
    <a class="pure-menu-heading brand" href="/">{{ . | safeHTML }}</a>
  {{ end }}

  {{ partial "social.html" . }}

  {{ partial "topics.html" . }}
  
  <div id="bottom">
    {{ if .Site.Params.parental }}
      {{ partial "parental.html" . }}
    {{ end }}
  
    {{ partial "copyright.html" . }}

    {{ if .Site.Params.buildinfo }}
      {{ partial "buildinfo.html" . }}
    {{ end }}
  
  </div>
  
</div>
