<div class="pure-menu">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><p class="pure-menu-title">Темы</p></li>
    {{ range first 5 (sort .Site.Taxonomies.topics.ByCount) }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
      </li>
    {{ end }}
    {{ if gt ((len .Site.Taxonomies.topics.ByCount)) 5}}
      <i><a class="pure-menu-link" href="/topics">Остальные ({{ (len .Site.Taxonomies.topics.ByCount) }})</a></i>
    {{ end }}
  </ul>
</div>
